<html>
<head>
<style> 
#info {
    border-radius: 25px;
    border: 2px solid #4c81bf;
    padding: 20px; 
    width: 500px;
    height: 425px;      <!--width and height of the box can be adjusted here as required-->
} 
li {
    display: inline;
}
#button
{
 width:130px;
 height:30px;
 cursor: pointer;
 background-color:#4c81bf;
 box-shadow: 5px 5px 2.5px #888888;
}
</style>
</head>
<body>
<center>
<fieldset id="info">
      <legend><font face="Helvetica" color="#4c81bf" size="5px"><b><img src="vir.png">Virtualgodown</b></font></legend>
	

<font face="arial" size=6px>
<b style="float:left">Welcome Godwin,</b></font><br><br><br>
<font face="sans-serif" size="4px">
Your new email address is <b>example123@gmail.com</b><br>
Thanks for joining us<br><br>
<p align="center">
	*Contents of virtualgodown
	<br>
    <br>
    <br>
    <br>
	<br>
Contents of virtualgodown*
</p>
Click the below button to Continue<br><br>
</font>
<a href="#"><button id="button">Continue &raquo;</button></a>
</fieldset>
<font color="#4c81bf">
<ul>
<li>All Rights Reserved.</li>&nbsp
<li>Copyright&#169</li>&nbsp
<li>Powered by:Virtualgodown</li>&nbsp
<li>Contact:<b>admin@gmail.com</b></li>&nbsp
</ul>
</font>
</center>
</body>
</html>