<html>
<head>
<style> 
#info {
    border-radius: 25px;
    border: 2px solid #4c81bf;
    padding: 20px; 
    width: 500px;
    height: 425px;   
}
li {
    display: inline;
}
</style>
</head>
<body>
<center>
<fieldset id="info">
      <legend><font face="Helvetica" color="#4c81bf" size="5px"><b><img src="vir.png">Virtualgodown</b></font></legend>
	  <font face="arial" size=6px>
<b style="float:left">Hi Godwin,</b></font><br><br><br>
<font face="sans-serif" size="4px">
<b>Success,Your invitation has been accepted</b><br><br>
*Contents of Notification
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Contents of Notification*<br>
</font>	  
</fieldset>
<font color="#4c81bf">
<ul>
<li>All Rights Reserved.</li>&nbsp
<li>Copyright&#169</li>&nbsp
<li>Powered by:Virtualgodown</li>&nbsp
<li>Contact:<b>admin@gmail.com</b></li>&nbsp
</ul>
</font>
</center>
</body>
</html>